body {
    height: 100%;
    font-family: 'Comic Sans MS';
    /*font-family: 'Segoe Script', cursive;*/
    /* font-family: 'Lucida Handwriting', cursive; */
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: #a7a5a5
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.logo img {
    height: 60px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px;
    margin: 0;
}

.menu-icon { 
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    background-color: black; 
    color: white; 
    padding-left: 10px;
    padding-right: 10px; 
    border-radius: 5px; /* Bordes redondeados */ 
}

.navbar a:not(:last-child)::after {
    content: "|";  /* Barra vertical como separador */
    margin: 10px;
    color: #857f7f; /* Color de la barra */
}

.navbar {
    display: flex;
    margin-right: 7%;
    justify-content: right;
}

.navbar a{
    text-decoration: none;
    color:#857f7f;
    
}

.main-content {
    padding: 20px;
}

.main-content img {
    max-width: 900px;
    width: 60%;
    height: 60%;
}

.buttons {
    margin-top: 20px;
}

.buttons a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(236, 197, 78);
    color:white;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid black; /
}

footer {
    background-color: #857f7f;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
    position: fixed;
}