/* Estilo general de la página */
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  /* Título */
  h1 {
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  /* Contenedor del formulario */
  .contenedorFormulario {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo de los datos del cliente */
  .campos {
    display: flex;
    flex-direction: column;
  }
  
  /* Estilo de las etiquetas de los inputs */
  .campos .nombreCampo {
    display: flex;
    font-size: 16px;
    color: #34495e;
    margin: 5px;
    text-align: center;
  }
  
  /* campo de texto */
  .campos .campoTexto {
    display: flex;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border 0.3s ease;
    padding: 0px 10px;
    box-sizing: border-box;
  }
  
  .campos input:focus {
    border-color: #3498db;
    outline: none;
  }
  
  /* opciones */
  .campos .opciones {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 15px;
  }
  
  /* opcion */
  .campos .opciones .opcion {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  /* botones de radio */
  .campos .opciones .opcion input {
    display: flex;
    flex-direction: inline;
    margin: 10px;
  }
  
  /* boton registrar */
  .campos button {
    width: 100%;
    height: 45px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .campos button:hover {
    background-color: #2980b9;
  }
  
  /* Estilo para las listas de clientes */
  .listaClientes {
    margin-top: 30px;
    text-align: center;
  }
  
  .listaClientes button {
    width: 100%;
    height: 40px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .listaClientes button:hover {
    background-color: #27ae60;
  }
  
  /* Estilo para la lista de clientes */
  .clientes-list {
    margin-top: 20px;
    padding: 10px;
    background-color: #ecf0f1;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: auto;
  }
  
  /* Estilo para cada cliente de la lista */
  .cliente-item {
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
  }
  
  /* Hover en los items de la lista de clientes */
  .cliente-item:hover {
    background-color: #f5f5f5;
  }
  
  /* DISEÑO MOVIL */
  @media (max-width: 768px) {
  
    /* Contenedor del formulario */
    .contenedorFormulario {
      padding: 15px 10px;
    }
  
    /* campo de texto */
    .campos .campoTexto {
      padding: 0px 5px;
    }
  }