/* pagina */
.comercial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

/* titulo */
.comercial .contenedorComercial h1 {
    color: #0a2b54;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

/* contenedor del comercial */
.comercial .contenedorComercial {
    width: 100%;
    max-width: 600px;
}

/* contenedor de los enlaces */
.comercial .contenedorComercial .enlaces {
    display: flex;
    margin: 15px 0px;
    justify-content: center;
    align-items: center;
}

/* cada uno de los enlaces */
.comercial .contenedorComercial .enlaces .enlace {
    text-decoration: none;
    margin: 5px 15px;
    padding: 20px 10px;
    background-color: #203c56;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
}

.comercial .contenedorComercial .enlaces .enlace:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

.comercial .contenedorComercial .enlaces .enlace:active {
    background-color: #203c56;
}

/* tabla clientes */
.comercial .contenedorComercial .tabla {
    height: 600px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

/* DISEÑO MOVIL */
@media (max-width: 768px) {

    /* pagina */
    .comercial {
        padding: 10px 0px;
    }

    /* contenedor del comercial */
    .comercial .contenedorComercial {
        width: 100%;
        margin: 0px;
    }

    /* cada uno de los enlaces */
    .comercial .contenedorComercial .enlaces .enlace {
        padding: 10px 10px;
    }

}