.feedback label {
    font-weight: bold;
    color: #003059;
}

@media (max-width: 768px) {
    .feedback .mb-3 {
        margin-bottom: 0px !important;
    }

    .feedback .mb-3 div {
        margin: 0px 0px 10px 0px;
    }

    .feedback .text-danger {
        margin-bottom: 15px;
    }
}