.trabajador label {
    font-weight: bold;
    color: #003059;
}

@media (max-width: 768px) {
    .trabajador .mb-3 {
        margin-bottom: 0px !important;
    }

    .trabajador .mb-3 div {
        margin: 0px 0px 10px 0px;
    }

    .trabajador .text-danger {
        margin-bottom: 15px;
    }
}